<!-- This is a general about page which will display all project details -->

<%= content_for :title, "Calories to Miles | About" %>
<%= content_for :sticky_title, "About" %>
<!-- Put an H1 title code here to show dynamically on the static h1 title -->

<p class="lead">
Taken from the <a href="https://sites.google.com/site/compendiumofphysicalactivities/">compendium of physical activities</a>,
this basic application aims to provide a fun and easy way to determine exercise needs for a variety of food items and their caloric 
content. </p>


