<!-- This is a general about page which will display all project details -->

<%= content_for :title, "Calories to Miles | About" %>
<%= content_for :sticky_title, "About" %>
<!-- Put an H1 title code here to show dynamically on the static h1 title -->

<p class="lead">
Data has been provided from the <a href="https://sites.google.com/site/compendiumofphysicalactivities/">Compendium of Physical Activities</a> and the <a href="http://ndb.nal.usda.gov/ndb/foods">USDA Food Database</a>.
The function of this application aims to provide a fun and easy way to determine exercise needs for a specified food item and quantity.</p>


