<!-- This is a general about page which will display all project details -->

<%= content_for :title, "Calories to Miles | About" %>
<div class="page-heading">
<h1>About</h1>
</div>
Taken from the <a href="https://sites.google.com/site/compendiumofphysicalactivities/">compendium of physical activities</a>,
this basic application aims to provide a fun and easy way to determine exercise needs for a variety of food items and their caloric 
content.


