<%= content_for :title, "Calories to Miles | Homepage" %>

<<<<<<< HEAD
<form>
Weight: <input type="text" name="weight">
<br>
Quantity: <input type="text" name="quantity">
Food:
<input list="food" name="food">
<datalist id="food">
    <option value="Apple">
    <option value="Orange">
    <option value="Doughnut">
</datalist>
<input type="submit" name="Calculate">
</form>
=======
<div class="dropdown">
<form>
Weight:<input type="text" name="weight">
<br>
Quantity:<input type="text" name="quantity">
<select name="foods">
<option value="Apple">Apple</option>
<option value="Orange">Orange</option>
<option value="Doughnut">Doughnut</option>
</select>
<br><input type="submit" value="Calculate" class="btn btn-primary"><br>
</form>
</div>
>>>>>>> user-entry
