<%= content_for :title, "Calories to Miles | Homepage" %>


<div class="dropdown">
    <form class="form-inline">
        Weight:<br>
        <input type="text" name="weight" class="form-control" placeholder="Weight"><br>
        Quantity:<br> 
        <input type="text" name="quantity" class="form-control" placeholder="Quantity"><br>
        Food: <br>
        <select name="foods" class="form-control">
            <option value="Apple">Apple</option>
            <option value="Orange">Orange</option>
            <option value="Doughnut">Doughnut</option>
        </select>
        <br>
        <input type="submit" value="Calculate" class="btn btn-primary"><br>
    </form>
</div>
