<!-- This is the settings page, eventually allowing a user to change things such as their weight, preferred activity, etc. -->

<%= content_for :title, "Calories to Miles | Settings" %>
<h1>Settings</h1>
