<!-- This is the table to display food and calories from the database -->
<%= content_for :title, "Calories to Miles | Food Database" %>
<div class="table-responsive">
<table id="food-table" class="table table-condensed table-striped">
    <tr>
        <th>Food</th>
        <th>Calories</th>
    </tr>
    <tr> 
        <% @food.limit(5).each do |food| %>
    <td>
        <%= food.name %>
    </td>
    <td>
        <%= food.calories %>
    </td>
</tr>
<% end %>
</table>
</div>