<%= content_for :title, "Calories to Miles | Categories" %>
<%= content_for :sticky_title, "Categories" %>


<div class="table-responsive">
<table = id="exercise-category-table" class="table table-condensed table-striped">
<tr>
    <th>Category</th>
    <th>Number of Exercises</th>
</tr>
<tr>
    
</tr>
<tr>
<% @descriptionCount.each do |k,v| %>
</tr>
<td>
<%= k %>

</td>
<td>
<%= v %>
</td>
</tr>

<% end %>

</table>
</div>
