<div id="footer">
  <div class="container">
  
    <span class="text-muted credit">&copy; 2015 Calories to Miles |  <%= pluralize(userCount, 'user', 'users') %> 
    <span class="glyphicon glyphicon-github" aria-hidden="true"></span>
  </div>
</div>
</div>